body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
	position: relative;
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('mountains.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}

#foreground {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

#foreground img {
	height: 50vh;
	min-width: 300%; /* Ensure the image always fills the container horizontally */
	max-width: 300%; 
	filter: blur(2px);
}

#curtain_foreground {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}

#curtain_foreground img {
	width: 100%;
	height: 100vh;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: transform 1s ease-out;
}

#countdown-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% - 100px);
}

#countdown {
	font-size: 3em; /* Increase font size for LED effect */
	color: black; /* Set font color to black */
	background-color: white; /* Add white background behind the timer */
	padding: 20px; /* Add padding to create space around the timer */
	border-radius: 10px; /* Add rounded corners to the timer */
}

.image-container {
	width: 400px;
	height: auto;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.image-container-reversed {
	width: 400px;
	height: auto;
	position: relative;
	z-index: 1;
}

.image-container img {
	width: 100%;
	height: auto;
	animation: rotateCow 1s infinite alternate;
}

@keyframes rotateCow {
	0% {
		transform: rotate(-10deg);
	}

	100% {
		transform: rotate(10deg);
	}
}

.image-container-reversed img {
	width: 100%;
	height: auto;
	animation: rotateCow-reversed 1s infinite alternate;
}

@keyframes rotateCow-reversed {
	0% {
		transform: scaleX(-1) rotate(-10deg);
	}

	100% {
		transform: scaleX(-1) rotate(10deg);
	}
}

#ski-cow {
	position: fixed;
	top: 5%;
	right: 10%;
	width: 150px; /* Adjust the width as needed */
	height: auto; /* Automatically adjust height based on width */
	animation: ski-cow-animation 2s steps(1)infinite;
	filter: blur(1px); /* Adjust the blur amount as needed */
}

@keyframes ski-cow-animation {
	0% { transform: translateY(0) scaleX(1) rotate(-5deg); }
	12.5% { transform: translateY(-10px) scaleX(1) rotate(5deg); }
	25% { transform: translateY(0) scaleX(1) rotate(-5deg); }
	37.5% { transform: translateY(-10px) scaleX(1) rotate(5deg); }
	50% { transform: translateY(0) scaleX(-1) rotate(-5deg); }
	62.5% { transform: translateY(-10px) scaleX(-1) rotate(5deg); }
	75% { transform: translateY(0) scaleX(-1) rotate(-5deg); }
	87.5% { transform: translateY(-10px) scaleX(-1) rotate(5deg); }
	100% { transform: translateY(0) scaleY(1) rotate(-5deg); }
}

@media screen and (max-width: 768px) {
	.image-container {
		display: none;
	}
}